@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,600&display=swap');
*{
    margin: 0;
    padding: 0;
}
.logo{
   width:20%;
   display: flex;
   justify-content: center;
   align-items: center;

}
.logo img{
    width: 25%;
    background-color: white;
    border: 3px solid white;
    border-radius: 50px;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top:0;
    cursor: pointer;
}
 .nav-list{
    width: 70%;
    /* background-color: black; */

    display: flex;
    align-items: center;
 }

 .nav-list li {
      list-style: none;
      padding: 26px 30px;
 }
 .nav-list li a{
    text-decoration: none;
    color: white;
 }
 .nav-list li a:hover{
    text-decoration: none;
    color:yellow
 }

 .rightNav{
    width: 30%;
    /* background-color: purple; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    /* text-align: right; */
    /* padding: 0px 67px; */
 }

 #search{
    width: 80%;
    height: 17px;
    /* background-color: red; */
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 10px;
 }

 .background{
    background: rgba(0, 0, 0,0.7) url('../img/bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
 }

 .firstSection{
    height: 100vh;
    display: flex;
 }

 .box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    max-width: 50%;

    margin: auto;

    height: 65%;
 }

 .firstHalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;

 }

 .secondHalf{
    width: 30%;
 }

 .secondHalf img{
    width: 70%;
    display: block;
    margin: auto;

 }

 


 .btn{
    padding: 8px 20px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    cursor: pointer;
    color: white;
    width: fit-content;

 }
 .btn:hover{
    background-color: #fff;
    color: #000;
 }

 .btn-sm{
    padding: 6px 10px;
    /* vertical-align: middle; */
 }
 
 .btn-dark{
   border: solid grey 3px;
   border-radius:10px;
   color: black;
 }
 .btn-dark:hover{
   background-color: grey;
   color: white;
 }

 .section{
   height: 350px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   max-width: 70%;
   margin: auto;
 }

 .thumbnail{
   width: 30%;
   text-align: center;
 }
 .thumbnail img{
   width: 70%;
 }
 .text-small{
   font-family: 'Inter', sans-serif;
   font-weight: 400;
   font-size: 15px;
}
 .text-big{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

   font-size: 30px;
   font-weight:700;

   color: burlywood;
}

.section .text-big{
   font-family: 'Bodoni Moda', serif;
}


 .secSectionText{
    
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    
   }
   
   /* .section img{
      width: 100%;
      display: block;
      margin: auto;  
   } */
 

   .Left
   {
     flex-direction: row-reverse;
   }

   .Left .secSectionText{
      /* align-items: flex-end; */
   }

   .sectionTag.text-big{
      padding: 10px;
   }


   .thumbnail{
      /* padding-right: 50px;
      padding-top: 50px; */
      width: 200%;
   }

   /* .big-img{
      width: 200%;
   } */

   .contact{
      background-color: rgb(245, 245, 245);
      height: auto;

   }

   .formSection{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
   }
   .formInput{
      display: flex;
      flex-direction: column;
   }

   .formInput input{
      width: 30vw;
      height: 20px;

      margin: 10px 0;
      padding: 5px;

      border-radius: 9px;
      box-shadow: 0px 0px 5px rgb(192, 192, 192);
   }
   

   .formSection textarea{
      border-radius: 9px;
      padding: 5px;
   }

   input:focus{
      background-color: rgb(242, 242, 242);
      outline: none;

   }
   input:hover{
      box-shadow: 0px 0px 10px rgb(192, 192, 192);
   }
   textarea:focus{
      background-color: rgb(242, 242, 242);
      outline: none;

   }
   textarea:hover{
      box-shadow: 0px 0px 10px rgb(192, 192, 192);
   }

   footer{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      text-align: center;
      color: white;


     position:relative;
     bottom:0;
   }

   .burger{
      display: none;
      position:absolute;
      cursor: pointer;
      right:5%;
      top: 15px;

   }
   .line{
      width: 33px;
      height: 4px;
      background-color: white;
      margin: 5px 0;
   }
   @media only screen and (max-width: 1140px){
      .nav-list{
         flex-direction: column;
      }
      .navbar{
         flex-direction: column;
         height: 570px;
         transition: all 0.4s ease-out;

      }
      .rightNav{
         flex-direction: column;
         justify-content: center;
         align-items: center;
         
      }
      .box-main{
         max-width: 80%;
      }
      .section{
         height: 500px;
         max-width: 95%;
      }
      .thumbnail{
         width: 345%;
      }
      #search{
         width: 100%;
      }
      .logo img{
         margin-top: 30px;
         width: 100%;
         border-radius: 100%;
      }
      .burger{
         display: block;
      }
      .h-nav-resp{
         height: 72px;
      }
      .v-class-resp{
         opacity: 0;
         visibility: hidden;
      }
   }

   @media only screen and (max-width:770px){

      

   }